doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Object Table

    a(href="/update-cobj") Add to this table

    table
      thead
        tr
          th Concert Name
          th Artist
          th Event Date
      tbody
        each concert in data
          tr
            td= concert.properties.concert_name
            td= concert.properties.artist
            td= concert.properties.event_date